## modified from roxygenize() version to fix exports

export(getActs)
export(getPersonae)
export(getPlay)
export(findPlay)
export(getPlay_Python)
export(getScenes)
export(getSpeeches)
export(parseXML)
export(playTitles)
export(speakers)
export(tokens)
export(tokens_Python)
export(speechTokens)
export(speechTokens_Python)
exportClasses(Act_Python)
exportClasses(ElementTree_Python)
exportClasses(Element_Python)
exportClasses(SpeechList)
exportClasses(Play)
exportClasses(Scene_Python)
exportClasses(Speech_Python)
export(wordsUsed)
export(speechFragments)
export(searchSpeeches)
export(playWords)
export(otherWords)
export(playLength)
export(printSpeech)
export(allFieldStrings)

import(XRPython)
import(methods)


## roxygen fails to export generator functions
export(Act_Python)
export(ElementTree_Python)
export(Element_Python)
export(SpeechList)
export(Play)
export(Scene_Python)
export(Speech_Python)
